vendor/
node_modules/
storage/
!storage/.gitignore

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
.env.*.php
.env.php
.env*

envoy.config.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Development
.vagrant/
.bundle
/.idea
_ide_helper.php
.idea/codeStyleSettings.xml
*.lock
.phpintel/
*.DS_Store